/* This is the CSS for the business card html project */
body {
background-color: lightblue;
font-family: Arial, sans-serif;
}
/* this is to style the inner card where all the text is */
.business-card {
  margin-top: 100px; margin-bottom: 10%;
 margin-right: auto;
  margin-left: auto;
  width: 300px;
  max-width: 500px;
  text-align: center;
  font-size: 16px;
background-color: lightgrey;
padding: 20px;
}
.full-name {
  font-size: 1.7em;
  color: floralwhite;
}
.designation {
  font-size: 1.4em;
  color: aliceblue;
}
.company {
  font-size: 1.2em;
  color: aliceblue;
}
*/ for the email and phone coloring */
span {
  color: aliceblue;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
 /* a bit of styling to the portfolio link */
#portfolio {
  margin-top: 10px;
  color: lightskyblue;
}
a {
  display: block;
text-decoration: none;
text-align: center;
color: lightskyblue;
}
a:hover {
  text-decoration: underline;
}
.profile-image {
  display: flex;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  clip-path: circle(50%);
}
hr {
  margin: 15px;
}
*/ for the last h2 with connect with me */
#connect {
  display: block;
  margin: 0px;
  text-align: center;
  color: floralwhite;
}
.social-media {
  display: inline;
  margin: 0px;
  text-align: center;
}
